<ion-header-bar>
    <div class="row bg1">
        <a ui-sref="home" class="col col-20">站点首页</a>
        <a href="#" class="col col-7">|</a>
        <a href="#/display" class="col col-20">客片展示</a>
        <a href="#" class="col col-7">|</a>
        <a href="#/select" class="col col-20">精选套系</a>
        <a href="#" class="col col-7">|</a>
        <a href="#/about" class="col col-20">联系我们</a>
    </div>
</ion-header-bar>

<ion-view title="婚纱摄影" hide-back-button="true">
    <ion-content>
        <div class="list">
            <div class="item item-image"><img src="images/lx1.jpg"></div>
        </div>
        <div class="mid">
            <h3><span>CONTACT US</span>联系我们</h3>
            <h5> 我们用影像触碰心灵，感受幸福的温度</h5>
            <h5>We hope to keep all the wonderful warm image</h5>
        </div>
        <div class="row lx">
            <div class="col col-33">
                <img src="images/can1.jpg">
            </div>
            <div class="col col-33">
                <img src="images/can2.jpg">
            </div>
            <div class="col col-33">
                <img src="images/can3.jpg">
            </div>
        </div>
        <div class="row lx">
            <div class="col col-33">
                <h4>联系电话</h4>
                <h5>027-88888888</h5>
            </div>

            <div class="col col-33">
                <h4>新浪微博</h4>
                <h5>@武汉火星时代</h5>
            </div>

            <div class="col col-33">
                <h4>微信订阅号</h4>
                <h5>残破的光羽翼</h5>
            </div>
        </div>
        <div class="list">
            <div class="item item-image"><img src="images/z10.jpg"></div>
        </div>
        <div class="lx">
            <p>交通公交：乘1路,2路,3路,8路,88路,520路.......（到市中心站下车）<br>     企业QQ：88888888</p>
            <p>联系地址：武汉市东湖高新技术开发区关山大道光谷创意大厦C座 <br> 幸福热线：400-811-3903</p>
        </div>









    </ion-content>
</ion-view>